.header-wrapper{
    background-color: #ff6666;
    height: 96vh;
    padding-top: 18vh;
}

.home-text-wrapper {
    text-align: center;
    padding-top: 20vh;
}

.heading-small {
    font-weight: bold;
    font-size: 20px;
}

.position-heading {
    color: burlywood;
}

.name-heading {
    font-weight: bold;
    font-size: 90px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.project-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 12vw;
    padding-right: 12vw;
}

.project-home-box {
    border-radius: 8px;
    background-color: #e6e6e6;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vh;
}

.check-out-project {
    background-color: blue;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 18px;
    font-weight: bold;
    width: 15vh;
    cursor: pointer;
}


