.nav-bar-container {
  /* make navbar stickey */
  position: fixed;
  width: 100%;
  background-color: white;
  /* place content inside navbar */
  display: flex;
  justify-content: space-between;
  /* border-bottom: 5px solid grey; */
  box-shadow: 0 3px 9px rgba(0,0,0,0.3);
}

.nav-bar-item {
    display: flex;
    justify-content: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    float: left;
    padding: 4vh 2vw;
  }

  .nav-link {
    text-decoration:none; 
    color:#000000;
  }

  .nav-item {
    display: inline;
    display: block;
    transition: 0.4s;
  }

  .nav-item:hover {
      color: #1e3ef5;
      cursor: pointer;
  }

  .active {
      background-color: #ebe9e9;
  }

  .mobile-nav-container {
    display: flex;
    justify-content: space-evenly;

  }
