
.hamburger-icon-padding {
    padding-top: 2.65vh;
    padding-right: 6vw;
}

.hamburger-icon {
    cursor: pointer;
}

.modal-component-class {
    position: absolute;
    margin-top: 9vh;
    right: 0;
}

.right-position {
    right: 0;
}

.modal-container {
    border-radius: 8px;
    /* margin-top: 120px; */
    margin-right: 8vw;
    margin-top: 40px;
    /* margin-left: 500px; */
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #e6e6e6;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.mobile-nav-link-container {
    padding: 4vh 8vw;
  }

  .mobile-nav-link {
    color: #000;
}

  .mobile-nav-link:hover {
    color: #1e3ef5;
    cursor: pointer;
}
